.sans-serif{
  font-family: Arial,Helvetica,sans-serif;
}
.centered-body{
  margin: 0px auto;
  margin-top: 20px;
  width: 960px;
}
.title{
  background-color: darkblue;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.desc{
  color: darkgrey;
  font-size: 150%;
  font-weight: 900;
}
.horizontal-divider{
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  border: none;
  background-color: darkgrey;
  height: 4px;
}
.list-head{
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}
.bordered-list{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid blue;
}
#horizontal-list li{
  display: inline;
  list-style-type: none;
}
